:root {
    --cor-fonte: #ffffff;
    --cor-fonte2: rgb(170, 170, 170);
    --cor-bg: rgb(40, 40, 46);
    --cor-secundaria: #008080;
}

:root[data-theme="light"] {
    --cor-fonte: #000000;
    --cor-fonte2: rgb(170, 170, 170);
    --cor-bg: rgb(255, 255, 255);
    --cor-secundaria: #008080;
}